NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://neondb_owner:Your_Password@ep-old-mode-a1xr9bor-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

JWT_ACCESS_SECRET=supersecret_access
JWT_REFRESH_SECRET=supersecret_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ORIGIN=http://localhost:8081
